.review {
    background-color: #F7F7FB;
    padding-bottom: 150px;
}

.review-text {
    padding-top: 100px;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #19191B;
    padding-bottom: 30px;
}

.review-info {
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.66px;
    text-align: center;
    color: #696871;
    padding-bottom: 100px;
}

.review-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.review-card {
    width: 458px;
    height: 222px;
    background-color: white;
    transition: 0.4s ease;
    cursor: pointer;
}

.review-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
}

.review-card-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.66px;
    color: #19191B;
    position: relative;
    left: 20px;
    top: 20px;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    top: 40px;
    left: 20px;
    gap: 20px;
}

.user-name {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.66px;
    color: #19191B;
}

.user-company {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #696871;
}