.contact {
    background-color: #413E65;
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.contact-circle {
    position: absolute;
    animation: rotate 6s linear infinite;
    left: 330px;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contact-img {
    padding-top: 150px;
}

.contact-inp {
    width: 445px;
    height: 70px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 20px;
}

.contact-btn {
    width: 445px;
    height: 60px;
    opacity: 1;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -0.66px;
    border-radius: 10px;
    border: none !important;
    background-color: #F04037;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -40px;
    gap: 20px;
}

.contact-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.88px;
    color: white;
    margin-bottom: 40px;
    position: relative;
    left: -10px;
}

.contact-info {
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.66px;
    color: white;
    margin-bottom: 40px;

}

.contact-texts {
    display: flex;
    flex-direction: column;
}
body.dark .contact-btn:hover{
background-color: red;
transform: scale(1.07);
}
@media screen and (max-width: 1200px) {
    .contact-circle {
        left: 25%;
    }
    .contact-form {
        left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .contact-text {
        font-size: 48px;
        line-height: 58px;
    }
    .contact-img {
        width: 400px;
        height: auto;
    }
    .contact-circle {
        left: 200px;
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
    }
    .contact-img {
        padding-top: 50px;
        width: 100%;
        max-width: 400px;
    }
    .contact-circle {
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
    .contact-text {
        font-size: 38px;
        line-height: 48px;
        left: 0;
    }
    .contact-text br, .contact-info br {
        display: none;
    }
    .contact-form {
        left: 0;
        align-items: center;
        width: 100%;
    }
    .contact-inp, .contact-btn {
        width: 100%;
        max-width: 445px;
    }
}

@media screen and (max-width: 480px) {
    .contact-text {
        font-size: 32px;
        line-height: 42px;
    }
    .contact-info {
        font-size: 18px;
        line-height: 30px;
    }
    .contact-btn {
        font-size: 18px;
    }
}