.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.navbar{
     position: sticky;
    top: 0;
    z-index: 1000;
      background: rgba(20, 20, 20, 0.6); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}

.logo {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.75px;
    color: rgba(25, 25, 27, 1);
}

.navbar-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-align: right;
    color: rgba(25, 25, 27, 1);
    position: relative;
    padding-bottom: 5px;
    transition: ease 0.3s;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navbar-link:hover {
    transform: translateY(-3px);
    color: #000;
    color: white;
}

.navbar-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #C31A12;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    z-index: -1;
    border-radius: 2px;
}

.navbar-link:hover::before {
    transform: scaleX(1);
}