.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.section-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
        color: #19191B;
        padding-bottom: 30px;
}

.section-info {
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: #696871;
    padding-bottom: 30px;

}

.circle {
    position: absolute;
    animation: rotate 6s linear infinite;
    left: 520px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body.dark .section-button {
    width: 201px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border-color: #F04037;
    border: 3px solid ;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -0.66px;
    text-align: center;
    color: white;
}

.section-img {
    width: 600px;
    height: 630px;
}
.section-button{
    width: 201px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #F04037;
    border-color: #F04037;
    border: 3px solid ;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -0.66px;
    text-align: center;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
.section-button:hover{
    border-color: #F04037;
    background-color: transparent;
    color: #F04037;
}
@media screen and (max-width: 1200px) {
    .circle {
        left: 45%; /* Ekran kichrayganda aylana ham rasm bilan birga suriladi */
    }
}

@media screen and (max-width: 1024px) {
    .section-img {
        width: 450px;
        height: auto;
    }
    .circle {
        left: 400px;
        width: 150px; /* Aylana ham biroz kichrayadi */
    }
}

@media screen and (max-width: 768px) {
    .section-container {
        flex-direction: column;
        text-align: center;
    }
    .circle {
        left: 50%;
        top: 60%; /* Mobil versiyada rasmning orqasiga o'tadi */
        transform: translate(-50%, -50%);
        width: 200px;
    }
    .section-img {
        width: 100%;
        max-width: 400px;
    }
}