.effect .buttons {
    display: flex;
    gap: 20px;
}

.effect a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;

    position: relative;
    transition: all 0.2s linear;
}


.effect.thurio a {
    transform: rotate(45deg);
    transition: border-radius 0.2s linear;
}

.effect.thurio a i {
    transform: rotate(-45deg);
    transition: transform 0.01s linear;
}

.effect.thurio a:hover {
    border-radius: 0;
}


.effect a.tw {
    color: #1da1f2;
    border-color: #1da1f2;
}

.effect a.fb {
    color: #1877f2;
    border-color: #1877f2;
}

.effect a.g-plus {
    color: #db4437;
    border-color: #db4437;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-list,
.ul-footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer-name {
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    color: #19191B;
    padding-bottom: 30px;
}

.footer-link {
    position: relative;
    display: inline-block;  
    transition: transform 0.25s cubic-bezier(.4,0,.2,1), color 0.25s ease;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #19191B;
    padding-bottom: 10px;
    transform: translateY(0);
}


.footer-item {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #696871;
}

.footer-link:hover {
    transition: transform 0.25s cubic-bezier(.4,0,.2,1), color 0.25s ease;
    color: #000;
    color: grey;
}

.footer-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #C31A12;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    border-radius: 2px;
    z-index: 0;
}

.footer-link:hover::before {
    transform: scaleX(1);
}

