.design-container{
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}
.circle-img{
    position: absolute;
        animation: rotate 6s linear infinite;
        left: 680px;
        top: 3340px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.design-text{
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #19191B;
padding-bottom: 35px;
}
.design-info{
font-weight: 400;
font-size: 21px;
line-height: 39px;
color: #696871;
padding-bottom: 35px;

}
.design-button{
width: 201px;
height: 60px;
border-radius: 5px;
border-width: 1px;
background-color: #F04037;
font-weight: 500;
font-size: 21px;
line-height: 100%;
text-align: center;
color: #FFFFFF;
border: none;
}