@font-face {
    font-family: 'CircularStd';
    src: url('./assets/fonts/circular-std-medium-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    scroll-behavior: smooth;
}

* {
    font-family: 'CircularStd', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


html{
    scroll-behavior: smooth;
}

body {
    background: white;
    color: black;
    font-family: sans-serif;
    transition: 0.3s;
}


body.dark {
    background: #0f172a;
    color: #f0f0f0;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.3s;
}


body.dark .navbar {
    background: rgba(0, 0, 0, 0.6);
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: rgba(25, 25, 27, 1);
    transition: 0.3s;
}

body.dark .logo {
    color: white;
}


.navbar-link {
    font-weight: 400;
    font-size: 16px;
    color: rgba(25, 25, 27, 1);
    transition: 0.3s;
}

body.dark .navbar-link {
    color: white;
}

.navbar-link:hover {
    transform: translateY(-3px);
    color: #C31A12;
}

body.dark .navbar-link:hover {
    color: grey;
}


.theme-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}


body {
    background: white;
    color: black;
    transition: 0.3s;
}

body.dark {
    background: #0f172a;
    color: #f0f0f0;
}

body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark span,
body.dark a,
body.dark li {
    color: #f0f0f0;
}

body.dark .info-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark .info-card p {
    color: #f0f0f0;
}

body.dark .btn {
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

body.dark .btn:hover {
  color: white;
}

body.dark .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #F04037;
  z-index: -1;
  transition: all 1s;
}

body.dark .btn:hover::before {
  width: 160%;
}
