@font-face {
  font-family: 'CircularStd';
  src: url('./assets/fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
*{
  font-family: 'CircularStd', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
 button{
      position: relative;
      color: #333;
      overflow: hidden;
      background: transparent;
      z-index: 1;
      border: 1px solid #333;
      padding: 12px 24px;
      font-family: sans-serif;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    button:hover {
      color: white;
      transform: scale(1.07);
    }

    button::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 100%;
      background: #333;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s ease;
    }

    button:hover::before {
      width: 100%;
    }

